---
layout: default
title: RootKiter的博文
---

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "http://hm.baidu.com/hm.js?23ca870ecf6126f172d4f8539b0a593a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<a class="mytalk" style="float:right" href="{{ post.url }}/old_talks.html"> {% include talks.txt %} </a>
<div id="home">
  <h1>TAGS</h1>
<!--
<audio controls=true autoplay="true">
 	<source src="{{ site.defmusic }}">
</audio>
-->
<hr>  
{% for category in site.tags %}  
    <a href="#{{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})  
{% endfor %}  


{% for category in site.tags %}
    <a name="{{ category | first }}"></a>
    <h3>{{ category | first }}  ({{ category | last | size }})</h3>
    <ul class="arc-list">
        {% for post in category.last %} 
            <li>{{ post.date | date:"%Y/%m/%d" }} &raquo; <a href="{{ post.url }}">   {{ post.title }}</a></li>
        {% endfor %}
    </ul> 
{% endfor %}


</div>
