---
layout: default
title: RootKiter的博文
---

<a class="mytalk" style="float:right" href="{{ post.url }}/old_talks.html"> {% include talks.txt %} </a>
<div id="home">
  <h1>文章列表</h1>
<!--
<audio controls=true autoplay="true">
 	<source src="{{ site.defmusic }}">
</audio>
-->
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date:"%Y/%m/%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>


<hr>  
    <h4>CATEGORIES</h4>  
        {% for category in site.categories %}  
       <a href="/goto_category.html#{{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})  
        {% endfor %}  

</div>
