---
layout: default
---
<h2>{{ page.title }}
</h2>
<!--
<audio controls=true autoplay="true">
  <source src="http://rootkiter.{{ site.domain }}/music/{{ page.music }}">
</audio>
-->

<p class="meta">{{ page.date | date_to_string }}

<tag class="tag">
TAGS : [ 
{% for tag in page.tags %}
       <a href="/goto_tags.html#{{ tag }}">{{ tag }}</a>
{% endfor %}
]
</tag>
</p>

<div class="post">
{{ content }}
</div>
<tag class="tag">
TAGS : [ 
{% for tag in page.tags %}
       <a href="/goto_tags.html#{{ tag }}">{{ tag }}</a>
{% endfor %}
]
</tag>
